<div class="col-md-4">
  <div class="card mb-4 box-shadow" data-id="<%= topic.id %>">
    <div class="card-body">
      <p class="card-text"><%= link_to topic.title, topic_path(topic) %> </p>
    </div>
  </div>
</div>