<div class="container">
  <h1 class="text-md-left text-center">Majid Qureshi</h1>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile.jpg", width: 250, alt: "Profile Image", class: "profile-img" %>
    </div>
    <div class="col-md-8">
      <div class="mt-3 mt-md-0">
        <p class="lead">Software Architect | Engineering Manager | Software Engineer</p>
        <p>I love coding and engineering solutions to complex problems. I have been associated with the computer science world since more than 10 years</p>
        <p>My top proiority is to code as much as I can, but I also enjoy mananging agile teams which brings its own challenges</p>
        <p>These days I am working as an Architect at Clark, working on data intensive applications.</p>
        <p>Besides coding, I enjoy flying some aircraft on FS 2020. I am an aviation enthusiast and enjoy plane spotting.</p>
        <p>When not working, its either going on adventures with my wife or reading a book in a calm environment</p>
        <p>
          <div class="row">
            <button 
              class="btn btn-primary col" 
              type="button"
              data-toggle="collapse"
              data-target="#jobHistory"
              aria-expanded="false"
              aria-controler="jobHistory">  
              Job History
            </button>

            <button 
              class="btn btn-primary col-sm-4 mx-sm-1 my-1 my-sm-0" 
              type="button"
              data-toggle="collapse"
              data-target="#educationHistory"
              aria-expanded="false"
              aria-controler="educationHistory">  
              Eduction
            </button>

            <button 
              class="btn btn-primary col" 
              type="button"
              data-toggle="collapse"
              data-target="#skills"
              aria-expanded="false"
              aria-controler="skills">  
              Skills
            </button>
          </div>
        </p>
        <p>
          <div class="collapse skills" id="skills">
            <% @skills.each do |skill| %>
            <div class="skills">
              <h6><%= skill.title %></h6>
              <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar" area-valuenow="<% skill.percent_utilized %>"
                  area-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                >
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="row">
              <div class="card my-2 text-dark col-md-12">
                <div class="">
                  <p>Software Architect | Jan 2021 – Present | Clark Germany gmbh</p> 
                </div>
              </div>
              <div class="card my-2  text-dark col-md-12">
                <div class="">
                  <p>Engineering Manger | Sep 2019 – Jan 2021 | Clark Germany gmbh</p> 
                </div>
              </div>
              <div class="card my-2  text-dark col-md-12">
                <div class="">
                  <p>Software Engineer | Jul 2016 – Aug 2019 | Clark Germany gmbh</p> 
                </div>
              </div>
              <div class="card my-2  text-dark col-md-12">
                <div class="">
                  <p>Research Assistance | Jan 2016 – May 2016 | Technical University Kaiserslautern</p> 
                </div>
              </div>
              <div class="card my-2  text-dark col-md-12">
                <div class="">
                  <p>Research Assistance | Jan 2016 – May 2016 | Deutsches Forschungszentrum für Künstliche Intelligenz</p>
                </div>
              </div>
            </div>
          </div>

          <div class="collapse" id="educationHistory">
            <div class="row">
              <div class="card my-2 text-dark col-md-12">
                <div class="">
                  <p>Master's degree - Computer Science | 2014 – 2016 | Technische Universität Kaiserslautern</p> 
                </div>
              </div>
              <div class="card my-2  text-dark col-md-12">
                <div class="">
                  <p>Bacheolor's degree - Software Engineering | 2009 – 2013 | GIKI</p> 
                </div>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>  
  </div>
</div>