<div class="inner cover">
  <h1 class="cover-heading">Majid Qureshi</h1>
  <p class="lead">Software Architect | Engineering Manager | Software Engineer</p>
  <p class="lead">NodeJs (Javascript, Typescript) | Ruby on Rails | C++ | ReactJs</p>
  <p class="lead">Kubernetes | Jenkins | AWS</p>
</div>