<div class="container app-card-container">
  <h1 >Would you like to connect?</h1>
  <hr>
  <div class=row>
    <div class="col-md-6">
      <h3>Reach out to me on social media!</h3>
      <a href="https://www.github.com/mpq1990"><%= fa_icon "github  4x" %></a>
      <p><a href="https://www.linkedin.com/in/majidparvezqureshi/"><%= fa_icon "linkedin 4x" %></a></p>
      <p><a href="https://www.twitter.com/mpq1990"><%= fa_icon "twitter 4x" %></a></p>
       <!-- <h3>Office Address</h3> -->
       <!-- <p>My Address</p> -->

      <!-- <h3>Phone</h3> -->
      <!-- <p><%= number_to_phone "5555555555" %></p> -->

      <!-- <p><a href="mailto:test@test.com" "email me">Email me</a></p> -->
    </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20474.748423418558!2d8.66345!3d50.0985762!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe9432f6e53bd0bdf!2sMain%20Tower!5e0!3m2!1sen!2sde!4v1620751649295!5m2!1sen!2sde" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </div>
</div>