<div class="inner cover">
  <h1 class="cover-heading">Hello!</h1>
  <p class="lead">I am all about software development and software architecture.</p>
  <p class="lead"> Simple things should be simple, complex things should be POSSIBLE.. - Alan Kay</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path,  class: "btn btn-lg btn-secondary"%>
  </p>
</div>